@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#s-m-t-tooltip {
  max-width: 300px; /* maximum width */
  background: transparent;
  color: #000;
  font-style: italic;
  font-size: 37px;
  text-transform: lowercase; /* uppercase, lowercase, none */
  padding: 2px; /* padding size */
  margin: 19px 0px 0px 10px; /* margin size */
  z-index: 9999999999999999999999;
}

body {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 11px;
  color: #000;
  background-color: white;
  background-attachment: fixed;
  background-size: contain;
}

a {
  color: #008b92;
  cursor: pointer;
}

.mySlides {
  display: none;
}

img {
  vertical-align: middle;
}

.slideshow-container {
  max-width: 180px;
  position: fixed;
  top: 55px;
  left: 700px;
  transform: translateX(-50%);
  margin: auto;
}

.slidetext {
  color: #000;
  font-size: 25px;
  padding: 10px;
  border-radius: 20px;
  position: fixed;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  top: 100px;
  left: -550px;
  width: 300px;
  border: 5px #000 solid;
  text-align: center;
}

.pre,
.next {
  cursor: pointer;
  position: absolute;
  top: 125px;
  width: auto;
  padding: 4px;
  margin-top: 0px;
  color: black;
  font-weight: bold;
  font-size: 25px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: -40px;
  border-radius: 3px 0 0 3px;
}
.pre {
  right: 190px;
  border-radius: 3px 0 0 3px;
}

.page {
  display: none;
  position: fixed;
  color: #000;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  width: 500px;
  height: auto;
  padding: 10px;
  padding-top: 30px;
  border-radius: 20px;
  border: 5px #000 solid;
  opacity: 90%;
  background-image: url("images/bg.jpg");
}

.page.active {
  display: block;
}

.pop {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 999px;
  height: 418px;
  background-image: url("images/bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}

.pop.active {
  display: block;
}

.notes {
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
}

#horoscopes {
  top: 300px;
  left: 0px;
  width: 48px;
}

#blog {
  top: 300px;
  left: 60px;
  width: 48px;
}

#published {
  top: 300px;
  left: 120px;
  width: 48px;
}

#gb {
  top: 300px;
  left: 180px;
  width: 48px;
}

#photog {
  top: 300px;
  left: 240px;
  width: 48px;
}

#wolf {
  top: 450px;
  left: 50%;
  width: 48px;
}

#pb {
  top: 600px;
  left: 50%;
  width: 48px;
}

#jewelry {
  top: 600px;
  left: 50%;
  width: 48px;
}

#swan {
  top: 600px;
  left: 50%;
  width: 48px;
}

#rhyan {
  top: 600px;
  left: 50%;
  width: 48px;
}

#curio {
  top: 600px;
  left: 50%;
  width: 48px;
}

#selected {
  top: 600px;
  left: 50%;
  width: 48px;
}

#videos {
  top: 600px;
  left: 50%;
  width: 48px;
}

.buttons {
  position: absolute;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.buttons:hover {
  transform: scale(1.1);
}

#close {
  top: 10px;
  left: 10px;
  width: 40px;
}
